{% extends "base.html" %}
{% block content %}

<h2>Available Flights</h2>

{% if flights %}
    <table class="table">
        <tr>
            <th>Airline</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

        {% for flight in flights %}
        <tr>
            <td>{{ flight.airline }}</td>
            <td>{{ flight.source }}</td>
            <td>{{ flight.destination }}</td>
            <td>{{ flight.date }}</td>
            <td>{{ flight.time }}</td>
             <td>
            <a href="{% url 'book_flight' flight.id %}" class="btn btn-primary btn-sm">Book</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No flights found. Try again.</p>
{% endif %}

{% endblock %}
